.contactCard { /* stylelint-disable */
  border-bottom: solid #ccc 1px;
  position: relative;
}

.buttonGroup {
  /*position: absolute;*/
  /*top: 5px;*/
  /*right: 5px;*/
}

.btnEdit{
  margin-right: 5px;
  background-color: #ccc;
}
.btnEdit:hover {
  background-color: #0b97c4;
  border-color: #0b97c4;
  color: white;
}
.btnDelete{
  background-color: #ccc;
}
.btnDelete:hover{
  background-color: #ff525e;
  border-color: #ff525e;
  color: white;
}

.avatarColumn {
  width: 100px;
  height: 100%;
  position: relative;
}

.avatar {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  left: -13px;
}

.contactInfo h3 {
  margin-top: 0;
}

.contactName {
}


.stats{
  color: #999;
  display: inline-block;
}

.composeLabel{
  float: right;
}

#contact--btn-add-new{
  padding: 10px 0;
}

textarea{
  width: 795px;
}

.contactNowToggleBar {
  margin: 0;
  margin-bottom: -16px;
  margin-left: -16px;
  margin-right: -16px;
}
.contactNowToggleBarExpanded {
  margin: 0;
  margin-left: -16px;
  margin-right: -16px;
}
.contactNowToggleBar:hover, .contactNowToggleBarExpanded:hover {
  background-color: #ccc;
}

.contactNowToggleButton {
  background-color: #eee;
  width: 100%;
  -moz-border-radius-topleft: 0;
  border-radius: 0 0 4px 4px;
}
.contactNowToggleBarExpanded .contactNowToggleButton {
  border-radius: 0;
}
.contactNowToggleButton:hover {
  background-color: #ccc;
}
.contactNowToggleButton:focus {
  outline: 0;
  background-color: #eee;
}

.justContacted {
  background-color: #eee;
  min-width: 140px;
  max-width: 140px;
  float: right;
}
.justContacted:hover {
  background-color: #5bcf64;
  border-color: #5bcf64;
  color: white;
}

.formFieldRow {
  height: 5em;
}

.formFieldLabelDiv, .formField {
  position: relative;
  margin: 1.5em 0;
}
.formFieldLabelDiv label,
.formField input:not([type=submit]):not([type=file]) {
  font-size: 1.1em;
  font-weight: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*transform: translateX(-50%);*/
}
.formFieldLabelDiv label {
  right: 0;
}

.formField {
  width: 100%;
  margin: 0;
  border: solid 1px #dcdcdc;
  border-radius: 8px;
  padding: 5px;
  outline: none;
  transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
}
.formField {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  -webkit-box-shadow: 0 0 5px 1px #969696;
}
.formFieldError,
.formFieldError:focus {
  border-color: red;
  box-shadow: 0 0 5px 1px red;
  -moz-box-shadow: 0 0 5px 1px red;
  -webkit-box-shadow: 0 0 5px 1px red;
}

.formControls {
  margin: 20px 0;
}

.editCancelButton {
  position: relative;
  right: -30px;
}
.editSubmitButton {
}

.formErrorMessage, .formWarningMessage {
  margin: 1px 0;
  /*height: 14px;*/
}
.formErrorMessage {
  color: red;
}

.formWarningMessage {
  color: #df8e00;
}
